.daohang {
  width: 100%;
  height: 50px;
  background-color: orange;
  display: flex;/*将项横向排列*/
  justify-content: center;/*水平居中*/
  border-radius: 10px;
}

.daohang ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;/*去掉默认的列表符号*/
  padding: 0;
  margin: 0 auto;
}

.daohang ul li {
  width: 20%;
  height: 100%;
  text-align: center;
  display: flex;/*将项纵向排列*/
  justify-content: center;
  align-items: center;
}

.daohang ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px; /* 文字和图标之间的距离 */
}

.iconfont {
  font-size: 16px;
  color:white;
}

#erweima {
  display: none;
  position: absolute;/* 绝对定位 */
  width: 200px; /* 二维码图片的宽度 */
  height: auto; /* 二维码图片的高度 */
}

.daohang ul li:hover{
  opacity: 0.5;/* 鼠标悬停时，降低透明度 */
  transition: opacity 0.2s ; /* 添加过渡效果，使变化更平滑 */
}



















