 .questions {
            border: 5px solid #1876e8;
            border-radius: 12px;
            width: 90%;
            max-width: 1200px;
            margin: 30px auto;
            box-sizing: border-box;
            padding: 40px;
            position: relative;
            background-image: url("background_QA.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
        }
        .more-questions-h2 {
            text-align: center;
            font-size: 28px;
        }
        .more-questions-card {
            text-align: left;
            line-height: 2.2;
            font-size: 18px;
        }
        .q-item {
            margin-bottom: 10px;/*每个问题项之间的间距*/
        }
        .question a {
            color: #333;
            text-decoration: none;
            cursor: pointer;
        }
        .answer {
            display: none;
            margin-top: 5px;
            padding: 10px;
            background-color: #67a0e6;
            border-radius: 6px;
        }








