.h3-introduction {
    color: rgb(80, 150, 200);
}

.introduction-one {
    display: flex; /* 核心：开启Flex */
    flex-direction: row; /* 水平排列，文字左、图片右 */
    align-items: flex-start; /* 内容顶部对齐 */
    gap: 20px; /* 文字和图片的间距 */
    padding: 20px; /* 内部内边距，避免内容贴边 */
    border: 4px solid black;
    border-radius: 10px;
    width: 1200px; /* 适配页面的卡片宽度 */
    height: 400px;
}

body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text1 {
    order: 1;
    font-size: 20px;
}

.introduction-one-span1 {
    height: 400px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    order: 2;
}

.introduction-tow {
     display: flex; /* 核心：开启Flex */
  flex-direction: row; /* 水平排列，文字左、图片右 */
  align-items: flex-start; /* 内容顶部对齐 */
  gap: 20px; /* 文字和图片的间距 */
  padding: 20px; /* 内部内边距，避免内容贴边 */
  border: 4px solid black;
  border-radius: 10px;
  width: 1200px; /* 适配页面的卡片宽度 */
  height: 400px;
}

.introduction-three {
     display: flex; /* 核心：开启Flex */
  flex-direction: row; /* 水平排列，文字左、图片右 */
  align-items: flex-start; /* 内容顶部对齐 */
  gap: 20px; /* 文字和图片的间距 */
  padding: 20px; /* 内部内边距，避免内容贴边 */
  border: 4px solid black;
  border-radius: 10px;
  width: 1200px; /* 适配页面的卡片宽度 */
  height: 400px;
}


.introduction-four {
     display: flex; /* 核心：开启Flex */
  flex-direction: row; /* 水平排列，文字左、图片右 */
  align-items: flex-start; /* 内容顶部对齐 */
  gap: 20px; /* 文字和图片的间距 */
  padding: 20px; /* 内部内边距，避免内容贴边 */
  border: 4px solid black;
  border-radius: 10px;
  width: 1200px; /* 适配页面的卡片宽度 */
  height: 400px;
}


.text2 {
    order: 2;
    font-size: 20px;
}
.text3 {
    order: 1;
    font-size: 20px;
}
.text4 {
    order: 2;
    font-size: 20px;
}

.introduction-one-span2 {
    height: 400px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    order: 1;
}

.introduction-one-span3 {
    height: 400px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    order: 2;
}

.introduction-one-span4 {
    height: 400px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    order: 1;
}



















